@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: 'Barlow', sans-serif;
}

p {
  font-size: 18px;
  line-height: 1.6;
  font-family: 'Barlow', sans-serif;
  color: #818498;
}

a {
  font-size: 18px;
}

@media (max-width: 768px) {
  a {
    font-size: 16px;
  }
}

.h1 {
  font-family: 'Fraunces', serif;
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 12px;
}

@media (max-width: 768px) {
  .h1 {
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 5px;
  }
}

.h2 {
  font-family: 'Fraunces', serif;
  font-size: 40px;
  color: #23303e;
  font-weight: 900;
}

@media (max-width: 768px) {
  .h2 {
    font-size: 35px;
  }
}

.h3 {
  font-family: 'Fraunces', serif;
  font-size: 30px;
  font-weight: 900;
}

.h4 {
  font-family: 'Fraunces', serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #818498;
}

@media (max-width: 768px) {
  .h4 {
    font-size: 16px;
  }
}

.h5 {
  font-family: 'Fraunces', serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: capitalize;
  color: #23303e;
}

header {
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 799px;
}

@media (max-width: 500px) {
  header {
    min-height: 539px;
    background-image: url("../images/mobile/image-header.jpg");
  }
}

header nav .desktop-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

@media (max-width: 768px) {
  header nav .desktop-menu {
    display: none;
  }
}

header nav .desktop-menu a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 3rem;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

header nav .desktop-menu a:hover {
  background: #ffffff54;
}

header nav .desktop-menu .active a {
  background: white;
  color: #23303e;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  font-size: 16px;
}

header nav .mobile-menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  header nav .mobile-menu {
    display: block;
  }
}

header nav > .mobile-menu-container {
  background: white;
  position: absolute;
  left: 50%;
  top: 7%;
  width: 90%;
  padding: 20px;
  visibility: hidden;
  -webkit-transform: scaleY(0) translateX(-50%);
          transform: scaleY(0) translateX(-50%);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header nav > .mobile-menu-container ul {
  list-style: none;
}

header nav > .mobile-menu-container ul li {
  text-align: center;
  margin: 35px 0;
}

header nav > .mobile-menu-container ul li a {
  text-decoration: none;
  color: #a7abae;
  display: inline-block;
}

header nav > .mobile-menu-container ul .active a {
  background: #fad400;
  color: #23303e;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  font-size: 16px;
  border-radius: 3rem;
  padding: 15px 20px;
}

header .show-mobile-menu {
  visibility: visible !important;
  -webkit-transform: scaleY(1) translateX(-50%) !important;
          transform: scaleY(1) translateX(-50%) !important;
}

.header-wrapper {
  max-width: 1355px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 15px;
}

@media (max-width: 768px) {
  .header-wrapper {
    padding: 32px 24px;
  }
}

.header-into-text {
  text-align: center;
  margin-top: 90px;
}

@media (max-width: 768px) {
  .header-into-text {
    margin-top: 40px;
  }
}

.header-into-text h1 {
  margin-bottom: 104px;
}

@media (max-width: 768px) {
  .header-into-text h1 {
    margin-bottom: 54px;
  }
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section .container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 50%;
}

@media (max-width: 768px) {
  section .container > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
  }
}

section .text {
  padding: 165px 115px 165px 158px;
}

@media (max-width: 1024px) {
  section .text {
    padding: 165px 70px 165px 70px;
  }
}

@media (max-width: 768px) {
  section .text {
    padding: 60px 32px;
    text-align: center;
  }
}

section .text h2 {
  margin-bottom: 42px;
}

section .text p {
  margin-bottom: 42px;
}

section .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section a {
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  text-decoration: none;
  color: #23303e;
  font-weight: 900;
}

@media (max-width: 768px) {
  section.yellow .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

section.yellow a {
  position: relative;
}

section.yellow a::after {
  content: "";
  height: 7px;
  width: 100%;
  background: #fad400;
  display: block;
  position: absolute;
  border-radius: 3rem;
  bottom: -1px;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.yellow a:hover::after {
  visibility: visible;
  opacity: 1;
}

section.red a {
  position: relative;
}

section.red a::after {
  content: "";
  height: 7px;
  width: 100%;
  background: #fe7867;
  display: block;
  position: absolute;
  border-radius: 3rem;
  bottom: -1px;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.red a:hover::after {
  visibility: visible;
  opacity: 1;
}

section .container .cherry {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 64px;
}

@media (min-width: 1440px) {
  section .container .cherry {
    min-height: 700px;
  }
}

@media (max-width: 768px) {
  section .container .cherry {
    padding: 50px 24px;
  }
}

section .container .cherry .description {
  width: 370px;
  text-align: center;
}

section .container .cherry h3 {
  color: #25564b;
  margin-bottom: 37px;
}

section .container .cherry p {
  color: #25564b;
}

section .container .orange {
  background-image: url("../images/desktop/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 64px;
}

@media (min-width: 1440px) {
  section .container .orange {
    min-height: 700px;
  }
}

@media (max-width: 768px) {
  section .container .orange {
    padding: 50px 24px;
  }
}

section .container .orange .description {
  width: 370px;
  text-align: center;
}

section .container .orange h3 {
  color: #19536b;
  margin-bottom: 37px;
}

section .container .orange p {
  color: #19536b;
}

section.client-testimonials {
  padding: 140px 0;
}

@media (max-width: 768px) {
  section.client-testimonials {
    padding: 50px 24px;
  }
}

section.client-testimonials h4 {
  text-align: center;
}

section.client-testimonials .title {
  margin-bottom: 60px;
}

section.client-testimonials .client-testimonials-wrapper {
  max-width: 1102px;
  margin: 0 auto;
  padding: 0 15px;
}

section.client-testimonials .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 34px;
}

@media (max-width: 768px) {
  section.client-testimonials .grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 67px;
  }
}

section.client-testimonials .client-testimonial img {
  margin-bottom: 60px;
  border-radius: 100%;
  height: 70px;
  width: 70px;
}

@media (max-width: 768px) {
  section.client-testimonials .client-testimonial img {
    margin-bottom: 30px;
  }
}

section.client-testimonials .client-testimonial .description {
  margin-bottom: 65px;
}

@media (max-width: 768px) {
  section.client-testimonials .client-testimonial .description {
    margin-bottom: 40px;
  }
}

section.client-testimonials .client-testimonial .name {
  margin-bottom: 5px;
}

section.client-testimonials .client-testimonial .job {
  color: #a7abae;
  font-weight: 400;
  font-size: 16px;
}

section.gallery .gallery-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  section.gallery .gallery-grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

section.gallery .gallery-grid-container img {
  max-width: 100%;
  width: 100%;
}

footer {
  background: #90d4c5;
  text-align: center;
  padding: 70px 0;
}

footer .footer-logo {
  margin-bottom: 40px;
}

footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

footer .footer-nav a {
  color: #458c7e;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

footer .footer-nav a:hover {
  text-decoration: underline;
}

footer .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */